<!DOCTYPE html>
<html>

<head>
  <title>PaymentsJS Demo App</title>
</head>

<body>

<main class="main-body container">
  <h1>Using the UI (ACH Non-Modal)</h1>
</main>
<pre id="attachUI">

  </pre>

<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script crossorigin src="https://unpkg.com/react-bootstrap@0.31.2/dist/react-bootstrap.min.js"></script>
<script src="{{payments_js.location.ui}}"></script>
<script type="text/javascript">
    PayJS.Operations.Payment.data = {
        totalAmount: '1.00'
    }

    PayJS.Features.Billing.data =  {
        name: '',
        address: '',
        city: '',
        state: '',
        postalCode: '',
        country: 'USA'
    }

    PayJS.Features.Customer.data =  {
        dateOfBirth: "09/18/1976",
        ssn: "123224444",
        license: {
            number: "A123459",
            stateCode: "VA"
        },
        email: "foo@test.com",
        telephone: "7035554444",
        fax: "5719993333"
    }


    PayJS.UI.Render({
        methods: [ PayJS.Methods.ACH ],
        operations: [PayJS.Operations.Payment],
        features: [PayJS.Features.Billing, PayJS.Features.Customer],
        options: { auth: { url: '{{payments_js.auth_url}}' } },
        uiOptions: {
            target: 'attachUI',
            suppressReceipt: true,
            show: [PayJS.Features.Billing, PayJS.Features.Customer],
        },
        callback: (err, xhr, data, hash) => {
        document.getElementById('paymentResult').innerText = JSON.stringify(PayJS.API.Request.parseCallback(err, xhr, data, hash), null,2)
    }
    });

</script>

</body>

</html>