


<body>

<main class="main-body container">
  <div class="wrapper">
    <h1>Running an ACH Payment</h1>
  </div>
  <hr>
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-3">
        <h3>Payment Form</h3>
        <div class="input-group">
          <label>Routing</label>
          <input type="text" class="form-control" id="routingNumber" value="056008849">
        </div>
        <br/>
        <div class="input-group">
          <label>Account</label>
          <input type="text" class="form-control" id="accountNumber" value="12345678901234">
        </div>
        <br/>
        <div class="input-group">
          <label>Type</label>
          <input type="text" class="form-control" id="accountType" value="Savings">
        </div>
        <br/>
        <div class="btn-group-vertical" style="width:100%">
          <button type="button" class="btn btn-primary" onclick="doPayment()" id="paymentSubmit">Submit</button>
        </div>
        <hr>
      </div>
      <div class="col-xs-9">
        <h3>Configuration / Result</h3>
        <pre id="paymentResult">const el = id => document.getElementById(id)

    PayJS.Operations.Payment.data =  {
        totalAmount: '1.00'
    }

    PayJS.Features.Billing.data =  {
        name: '',
        address: '',
        city: '',
        state: '',
        postalCode: '',
        country: 'USA'
    }

    PayJS.Features.Customer.data =  {
        dateOfBirth: "09/18/1976",
        ssn: "123224444",
        license: {
            number: "A123459",
            stateCode: "VA"
        },
        email: "foo@test.com",
        telephone: "7035554444",
        fax: "5719993333"
    }

PayJS.API.Request.Send({
 methods: [ PayJS.Methods.ACH ],
  operations: [ PayJS.Operations.Payment ],
  features: [ PayJS.Features.Billing ],
  options: { /*...*/ },
  callback: () => { /*...*/ },
});</pre>
      </div>
    </div>
  </div>
</main>
<script src="{{payments_js.location.core}}"></script>
<script type="text/javascript">
    const el = id => document.getElementById(id);

    function doPayment() {

        PayJS.Methods.ACH.data = {
            accountNumber: '12345678901234',
            routingNumber: '056008849',
            secCode: 'WEB',
            type: 'Savings'
        }

        PayJS.Operations.Payment.data = {
            totalAmount: '1.00'
        }

        PayJS.Features.Billing.data = {
            name: 'Brad Johnson',
            address: '10 Reston Street',
            city: 'Reston',
            state: 'VA',
            postalCode: '22102',
            country: 'USA'
        }


        PayJS.Features.Customer.data = {
            dateOfBirth: "09/18/1976",
            ssn: "123224444",
            license: {
                number: "A123459",
                stateCode: "VA"
            },
            email: "foo@test.com",
            telephone: "7035554444",
            fax: "5719993333"
        }

        PayJS.API.Request.Send({
            methods: [PayJS.Methods.ACH],
            operations: [PayJS.Operations.Payment],
            features: [PayJS.Features.Billing, PayJS.Features.Customer],
            options: { auth: { url: '{{payments_js.auth_url}}' } },
            callback: (err, xhr, data, hash) => {
            el('paymentResult').innerText = JSON.stringify(PayJS.API.Request.parseCallback(err, xhr, data, hash), null, 2)
    }
    });
    }


</script>

</body>
</html>




