<!DOCTYPE html>
<html>

<head>
  <title>PaymentsJS Demo App</title>
</head>

<body>

<main class="main-body container">
  <div class="wrapper">
    <h1>Using the UI (CC Payment)</h1>
  </div>
  <hr>
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-6">
        <h3>Configuration</h3>
        <pre>PayJS.Operations.Payment.data = {
  totalAmount: '1.00'
}

PayJS.UI.Render({
  methods: [ PayJS.Methods.CreditCard],
  operations: [ PayJS.Operations.Payment ],
  features: [  ],
  options: { /*...*/ },
  uiOptions: {
      target: 'paymentContainer',
      modal: { buttonText: 'SHOW UI' },
      show: [  ],
      hide: { },
      suppressReceipt: true
  },
  callback: () => { /*...*/ },
});</pre>
        <span id="paymentContainer"></span>
      </div>
      <div class="col-xs-6">
        <h3>Result</h3>
        <pre id="paymentResult"></pre>
      </div>
    </div>
  </div>
  <hr>
</main>


<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script crossorigin src="https://unpkg.com/react-bootstrap@0.31.2/dist/react-bootstrap.min.js"></script>
<script src="{{payments_js.location.ui}}"></script>
<script type="text/javascript">
    PayJS.Operations.Payment.data = {
        totalAmount: '1.00'
    }


    PayJS.UI.Render({
        methods: [ PayJS.Methods.CreditCard ],
        operations: [PayJS.Operations.Payment],
        features: [  ],
        options: { auth: { url: '{{payments_js.auth_url}}' } },
        uiOptions: {
            target: 'paymentContainer',
            modal: { buttonText: 'SHOW CC UI' },
            show: [  ],
            hide: { },
            suppressReceipt: true
        },
        callback: (err, xhr, data, hash) => {
        document.getElementById('paymentResult').innerText = JSON.stringify(PayJS.API.Request.parseCallback(err, xhr, data, hash), null, 2)
    }
    });
</script>

</body>

</html>