<!DOCTYPE html>
<html>
<head>
    <title>PaymentsJS Demo App</title>
</head>
<body>
<main class="main-body container">
    <div class="wrapper">
        <h1>Using a Vault Token</h1>
    </div>
    <hr>
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-3">
                <h3>Payment Form</h3>
                <div class="input-group">
                    <label>Vault Token</label>
                    <input type="text"
                           size="40"
                           class="form-control"
                           id="vaultToken"
                           value="ede8594e8c6a461aa81768990beb9e8d">
                </div>
                <br/>
                <!-- <div class="input-group">
        
                <label>Vault Sec Code</label>
        
                <input type="text" class="form-control" id="vaultSecCode" value="0928">
        
                </div> -->
                <br/>
                <div class="input-group">
                    <label>Vault CVV</label>
                    <input type="text"
                           class="form-control"
                           id="vaultCvv"
                           value="123">
                </div>
                <br/>
                <div class="btn-group-vertical"
                     style="width:100%">
                    <button type="button"
                            class="btn btn-primary"
                            onclick="doPayment()"
                            id="paymentSubmit">Submit
                    </button>
                </div>
                <hr>
            </div>
            <div class="col-xs-9">
                <h3>Configuration / Result</h3>
                <pre id="paymentResult">const el = id => document.getElementById(id)

PayJS.Methods.VaultToken.data = {
name: 'token',
data: {
token: el('vaultToken').value,
                    <!-- secCode: el('vaultSecCode').value, -->
cvv: el('vaultCvv').value
}
}




PayJS.Operations.Vault.data = {
name: 'vault',
data: {
token: el('vaultToken').value,
operation: 'Read'
}
}


PayJS.Operations.Payment.data = {
totalAmount: '1.00'
}

PayJS.API.Request.Send({
methods: [ PayJS.Methods.VaultToken ],
operations: [ PayJS.Operations.Payment ],
features: [ ],
options: { /*...*/ },
callback: () => { /*...*/ },
});</pre>
            </div>
        </div>
    </div>
</main>
<script src="{{payments_js.location.core}}"></script>
<script type="text/javascript">
    const el = id => document.getElementById(id);
    function doPayment() {
        PayJS.Methods.VaultToken.data = {
            token: el('vaultToken').value,
            cvv: el('vaultCvv').value
        }

        PayJS.Operations.Payment.data = {
            totalAmount: '1.00'
        }

        PayJS.API.Request.Send({
            methods: [PayJS.Methods.VaultToken],
            operations: [PayJS.Operations.Payment],
            features: [],
            options: {
                auth: {url: 'https://qa.sagepayments.net/paymentsjsauthtoken/authtoken/2'},
                debug: {verbose: false, logInterval: 10000}
            },
            callback: (err, xhr, data, hash) => {
                el('paymentResult').innerText = JSON.stringify(PayJS.API.Request.parseCallback(err, xhr, data, hash),
                    null, 2)
            }
        })
    }
</script>
</body>
</html>
